body {
    background-color: black;
}
.jumbotron {
    width: 90%;
    background-color: black;
    /* background-color: lightseagreen; */
    color: white;
}

.search-input {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.btn-primary {
    background-color: #5912b6;
    border-radius: 0;
    border: none;
}

img {
    margin-bottom: 20px;
    margin-right: 20px;
}

button {
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#gif-btn {
    margin-top: 10px;
}

.rating {
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.card-body {
    padding: 0px;
}

img {
    display: inline-block;
}